<!DOCTYPE html>
<html>

<head>
  <title>mvc</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>insert data to block chain (integer only)</h1>
  <form action="/addblock" method="POST">
    <label for="value">data</label>
    <input type="number" name="value" placeholder="integer value">
    <input type="submit" value="submit">
  </form>

  <h1>search block by id</h1>
  <form action="/getblock" method="POST">
    <label for="_id">data</label>
    <input type="number" name="_id" placeholder="Block ID">
    <input type="submit" value="submit">
  </form>
  <br>
  <p>Result: <%=response%></p>

  <p>Block ID: <%=_id%></p>
  <p>Current Hash: <%=currentHash%></p>
  <p>Previous Hash: <%=previousHash%></p>
  <p>Data: <%=data%></p>
</body>

</html>